body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    max-height: 90vh;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: vertical;
}

#wordcount, #sentenceCount {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
}
